body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}

.logo_acquaccount {
    background-image: url('img/logo_acquaccount_preto.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 56px;
    width: 280px;
}

.menu_lateral {
    z-index:3; 
    width:300px; 
    top:62px;
}

.pagina_principal {
    margin-left:300px;
    margin-top:72px;
}

.nao_logado {
    margin-top: 42px;
}

.pagina_principal.nao_logado {
    margin-top: 72px;
}

.no-margin-padding {
    margin: 0px;
    padding: 0px;
}

.p_titulo {
    font-weight: bold;
    text-decoration: underline;
}

#drop-area {
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 600px;
    font-family: sans-serif;
    /*margin: 100px auto;*/
    padding: 10px;
}
  
#drop-area.highlight {
    border-color: purple;
}
  
.my-form {
    margin-bottom: 10px;
}
  
#gallery {
    margin-top: 10px;
}
  
#gallery img {
    width: 500px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}

#img_imagem_consumo {
    max-width: 100% !important;
}

.form_cadastro {
    margin: 2px;
    padding: 2px;
    max-width: 100%;
}

.div_privacidade {
    display: none;
    position: absolute;
    width: 85%;
    left: 7.5%;
    top: 0px;
    z-index: 3;
    border: 2px solid;
    border-radius: 0.5%;
    margin-top:75px;
}

.caixa_dados_salvo {
    text-align: center; 
    position: sticky; 
    top: 72px;
}

.w3-quarter.w3-padding-small.div_para_imprimir
{
    scroll-margin-block-start: 65px;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.button:hover {
    background: #ddd;
}

.button.disabled {
    display: inline-block;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
    border: 1px solid #ddd;
    cursor: default;
}
  
#fileElem {
    display: none;
}

* {box-sizing: border-box;}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 0px solid #000;
  border-radius: 15%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 75px;
  height: 75px;
  visibility: hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

@media (min-width: 992px) {
    .w3-animate-left {
        animation: none;
    }
}

@media (max-width: 418px) {
    .menu_lateral {
        z-index:3; 
        width:300px; 
        top:115px;
    }

    .div_privacidade {
        margin-top:90px;
    }
    
    .pagina_principal {
        margin-left:300px;
        margin-top:90px;
    }
    
    .nao_logado {
        margin-top: 100px;
    }

    .pagina_principal.nao_logado {
        margin-top: 120px;
    }

    #gallery img {
        width: 100% !important;
    }

    #img_imagem_consumo {
        width: 100% !important;
    }
}

@media print {
    div:not(.div_para_imprimir) {
        display: none;
    }

    .div_para_imprimir {
        visibility: visible !important;
    }

    .w3-top {
        position: absolute;
    }
}